In [1]:
%matplotlib inline

import os

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

DATA_ROOT = os.path.join(os.getcwd(), os.pardir, 'data')

In [2]:
# Relevant data sources
!tree {DATA_ROOT}/regression

/Users/bull/farmdrive/notebooks/../data/regression
├── all_ward_data_55wards.csv
├── farmer_loan_results.csv
├── farmer_wards.csv
└── march17_ward_data_modis.csv

0 directories, 4 files

# Load the data about the farmers

Data about the loans and about the ward locations of the farmers were provided separately. Load those datasets and join them on the farmer index.

In [3]:
farmer_loans = pd.read_csv(os.path.join(DATA_ROOT,
                           'regression',
                           'farmer_loan_results.csv'))

farmer_loans.set_index('fmr_id', inplace=True)

print(farmer_loans.shape)
farmer_loans.head()

(369, 30)

,loan_id,loanstatus_id,fdscoreV0_5,rollstatus,loan_date,loan_amnt_requested,loan_dateout,loan_issued,loan_principal,loan_interest,cur_id,loan_fee,loan_rate,loan_period,loan_graceperiod,loan_repaystart,loan_purpose,loanprod_id,loan_created,mfi_id,ltrans_id,loan_id.1,ltrans_amountdue,ltrans_due,ltrans_amountpaid,ltrans_date,ltrans_repaytype,ltrans_receipt,ltrans_created,user_id
fmr_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
392,870,3,NaN,0,1490169718,20,0,21,20,1,1,0,0,30,0,1492732800,Short Term Loan,2,1490169718,1,1274,870,21,1492732800,21,1.490684e+09,1,S_08,1490169746,100
1445,871,3,NaN,0,1490175823,4000,0,4200,4000,200,1,0,0,30,0,1492732800,Short Term Loan,2,1490175823,1,1275,871,4200,1492732800,4200,1.492435e+09,1,S_15,1490175981,100
2094,872,3,NaN,0,1490229958,500,0,525,500,25,1,0,0,30,0,1492819200,Short Term Loan,2,1490229958,1,1276,872,525,1492819200,525,1.492532e+09,1,S_16,1490229973,100
2276,873,3,NaN,0,1490445134,3000,0,3150,3000,150,1,0,0,30,0,1493164800,Short Term Loan,2,1490445134,1,1280,873,3150,1493164800,3150,1.490881e+09,1,S_010,1490616175,100
2266,874,4,NaN,1,1490598771,4000,0,4200,4000,200,1,0,0,30,0,1493164800,Short Term Loan,2,1490598771,1,1281,874,4200,1493164800,0,NaN,1,NaN,1490616512,100

In [4]:
farmer_wards = pd.read_csv(os.path.join(DATA_ROOT,
                                        'regression',
                                        'farmer_wards.csv'),
                           index_col=0)

farmer_wards.set_index('fmr_id', inplace=True)
farmer_wards.drop('loanid', axis=1, inplace=True)
farmer_wards.dropna(inplace=True)

farmer_wards = farmer_wards.reset_index().drop_duplicates().set_index('fmr_id')

print(farmer_wards.shape)
farmer_wards.head()

(245, 1)

                   ward
fmr_id
2094              BURAT
2276      KARATINA TOWN
2412             SHEYWE
2380       MALINDI TOWN
1329    DANDORA AREA IV

In [5]:
all_farmer_data = farmer_loans.join(farmer_wards, how='left')

all_farmer_data.columns.tolist()

all_farmer_data.shape

(369, 31)

In [6]:
all_farmer_data.head()

,loan_id,loanstatus_id,fdscoreV0_5,rollstatus,loan_date,loan_amnt_requested,loan_dateout,loan_issued,loan_principal,loan_interest,cur_id,loan_fee,loan_rate,loan_period,loan_graceperiod,loan_repaystart,loan_purpose,loanprod_id,loan_created,mfi_id,ltrans_id,loan_id.1,ltrans_amountdue,ltrans_due,ltrans_amountpaid,ltrans_date,ltrans_repaytype,ltrans_receipt,ltrans_created,user_id,ward
fmr_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
98,901,3,NaN,0,1492260594,4000,0,4200,4000,200,1,0,0,30,0,1494806400,Short Term Loan,2,1492260594,1,1292,901,4200,1494806400,4200,1.494819e+09,1,S_53,1492260647,100,CENTRAL GEM
98,1182,4,NaN,1,1500030248,4500,0,4725,4500,225,1,0,0,30,0,1502582400,Short Term Loan,2,1500030248,1,1474,1182,4725,1502582400,0,NaN,1,NaN,1500030325,100,CENTRAL GEM
98,1182,4,NaN,1,1500030248,4500,0,4725,4500,225,1,0,0,30,0,1502582400,Short Term Loan,2,1500030248,1,1625,1182,236,1502773086,0,NaN,1,NaN,1502773085,100,CENTRAL GEM
174,1076,4,NaN,1,1498834578,4000,0,4200,4000,200,1,0,0,30,0,1501372800,Short Term Loan,2,1498834578,1,1425,1076,4200,1501372800,0,NaN,1,NaN,1498834663,100,NaN
174,1076,4,NaN,1,1498834578,4000,0,4200,4000,200,1,0,0,30,0,1501372800,Short Term Loan,2,1498834578,1,1564,1076,210,1501563487,0,NaN,1,NaN,1501563486,100,NaN

# Load the satellite data

Load data from the satellite imagery:

 - `planet`: normalized indices calculated from RapidEye imagery for Fall of 2016
 - `modis`: indices from MODIS data for March of 2017

In [7]:
planet = pd.read_csv(os.path.join(DATA_ROOT,
                                  'regression',
                                  'all_ward_data_55wards.csv'))

planet.columns = ['clean_ward'] + planet.columns[1:].tolist()
planet.head()

,clean_ward,npcri_mean,npcri_pct_likely,npcri_std,re_ndvi_mean,re_ndvi_pct_likely,re_ndvi_std,re_ndwi_mean,re_ndwi_pct_likely,re_ndwi_std
0,BURAT,-0.019640,0.000680,0.106702,0.029443,0.033688,0.080855,0.029676,0.005576,0.062745
1,KARATINA-TOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SHEYWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DANDORA-AREA-IV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KABIEMIT,-0.186776,0.000088,0.090035,0.243724,0.637099,0.465345,-0.999495,0.000043,0.013199

In [8]:
modis = pd.read_csv(os.path.join(DATA_ROOT,
                                 'regression',
                                 'march17_ward_data_modis.csv'),
                     index_col=0)
modis.head()

,lai,fpar,ndvi,evi,sr1,sr2,sr3,sr4,sr5,sr6,sr7
name,,,,,,,,,,,
BARINGO.BARTABWA,6.095819,27.085366,3454.406497,1698.579017,1090.278753,2219.430641,476.981124,853.862160,2956.929324,2869.609306,2169.833626
BARINGO.BARWESSA,5.765996,25.060329,3038.832649,1651.995440,1405.999544,2594.552212,569.533972,1047.590971,3352.410853,3362.103055,2799.213862
BARINGO.CHURO/AMAYA,5.755814,24.443798,3146.186712,1498.047042,1090.379728,2097.806014,450.841416,824.061106,2874.952473,2875.301164,2209.502910
BARINGO.EMINING,9.243478,24.826087,2729.090949,1307.118933,1208.469174,2103.227372,467.473983,851.918233,2739.296021,2739.215129,2282.237676
BARINGO.EWALEL/CHAPCHAP,11.142857,39.780952,4528.734767,2345.976105,954.836320,2523.702509,426.219833,828.217443,3081.749104,2602.876941,1727.026284

In [9]:
modis['clean_ward'] = (modis.index
                      .to_series()
                      .str
                      .split('.')
                      .apply(
            lambda x: x[1].replace('/', '-').replace(' ', '-')))

# modis.set_index('clean_ward', inplace=True)

## Check ward overlap

Make sure that the wards have been updated so that they match across datasets.

In [10]:
all_farmer_data['clean_ward'] = (all_farmer_data.ward
                                                .apply(
              lambda x: str(x).replace('/', '-').replace(' ', '-')))

In [11]:
# planet data is missing 6 of the wards we see in the farmer data
np.setdiff1d(all_farmer_data.clean_ward,
             planet.clean_ward)

array(['KARUNA-MEIBEKI', 'KINANGO', 'MALINDI-TOWN', 'NGONG',
       'NORTH-KINANGOP', 'SOY', 'nan'], dtype=object)

In [12]:
# modis has all of the wards that we see in the farmer data22
np.setdiff1d(all_farmer_data.clean_ward,
             modis.clean_ward)

array(['nan'], dtype=object)

# Features

## Build Loan features

Drop features that:
 - only have a single value
 - are just unique identifiers rather than data about the loan
 - drop features that we wouldn't have ahead of time (i.e., when we decide to make the loan)
 
Only look at non-rollover loans, since (presumably those are the ones we care about).

In [13]:
# number of unique values in each column per loan
all_farmer_data.groupby('loan_id').nunique().nunique()

loan_id                1
loanstatus_id          1
fdscoreV0_5            2
rollstatus             1
loan_date              1
loan_amnt_requested    1
loan_dateout           1
loan_issued            1
loan_principal         1
loan_interest          1
cur_id                 1
loan_fee               1
loan_rate              1
loan_period            1
loan_graceperiod       1
loan_repaystart        1
loan_purpose           1
loanprod_id            1
loan_created           1
mfi_id                 1
ltrans_id              2
loan_id.1              1
ltrans_amountdue       2
ltrans_due             2
ltrans_amountpaid      2
ltrans_date            3
ltrans_repaytype       1
ltrans_receipt         3
ltrans_created         2
user_id                1
ward                   2
clean_ward             1
dtype: int64

In [14]:
farmer_features = all_farmer_data.reset_index().groupby('loan_id').agg({
    'loanstatus_id': 'first',  # these are all the same, see check above
    'rollstatus': 'first',
    'loan_date': 'first',
    'loan_amnt_requested': 'first',
    'loan_issued': 'first',
    'loan_principal': 'first',
    'loan_interest': 'first',
    'loan_repaystart': 'first',
    'loan_created': 'first',
    'clean_ward': 'first'
})

In [15]:
print(farmer_features.shape)
farmer_features = farmer_features[farmer_features.clean_ward != 'nan']
print(farmer_features.shape)

(235, 10)
(226, 10)

In [16]:
# 3 is repaid, 4 is abandoned
target_loan_repayment = (farmer_features.loanstatus_id == 3.0).astype(int)

farmer_features = farmer_features.drop('loanstatus_id', axis=1)

In [17]:
farmer_features.dtypes

rollstatus              int64
loan_date               int64
loan_amnt_requested     int64
loan_issued             int64
loan_principal          int64
loan_interest           int64
loan_repaystart         int64
loan_created            int64
clean_ward             object
dtype: object

# Modeling

In [18]:
from sklearn.preprocessing import StandardScaler

# drop co-linear vars
X = farmer_features.drop(['loan_interest', 'loan_principal', 'loan_repaystart', 'clean_ward'],
                         axis=1)

ss = StandardScaler()
X_vals = ss.fit_transform(X)


X_vals = pd.DataFrame(data=X_vals, columns=X.columns, index=X.index)

## Model Just Loan Features

In [19]:
import statsmodels.formula.api as sm

model = sm.Logit(target_loan_repayment, X_vals)

result = model.fit_regularized(full_output=True)
result.summary()

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.26222274554580444
            Iterations: 17
            Function evaluations: 17
            Gradient evaluations: 17

/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/statsmodels/base/model.py:1029: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(np.diag(self.cov_params()))
/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          loanstatus_id   No. Observations:                  226
Model:                          Logit   Df Residuals:                      221
Method:                           MLE   Df Model:                            4
Date:                Sat, 30 Sep 2017   Pseudo R-squ.:                  0.6212
Time:                        19:33:56   Log-Likelihood:                -59.262
converged:                       True   LL-Null:                       -156.43
                                        LLR p-value:                 6.203e-41
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
rollstatus             -2.6071      0.278     -9.375      0.000      -3.152      -2.062
loan_date              -0.0183        nan        nan        nan         nan         nan
loan_amnt_requested     0.0863   1834.103   4.71e-05      1.000   -3594.690    3594.862
loan_issued             0.0862   1834.108    4.7e-05      1.000   -3594.700    3594.873
loan_created           -0.0183        nan        nan        nan         nan         nan
=======================================================================================
"""

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate


scores = cross_validate(LogisticRegression(), X_vals, target_loan_repayment, scoring='roc_auc',
                         cv=10, return_train_score=True)

np.mean(scores['test_score'])

0.92939393939393933

## Model Loan + MODIS Features

In [21]:
# drop co-linear vars
X = farmer_features.drop(['loan_interest', 'loan_principal', 'loan_repaystart'],
                         axis=1)

print(X.shape)
X = X.merge(modis, on='clean_ward')
print(X.shape)

X.drop('clean_ward', inplace=True, axis=1)

ss = StandardScaler()
X_vals = ss.fit_transform(X)


X_vals = pd.DataFrame(data=X_vals, columns=X.columns, index=target_loan_repayment.index)

(226, 6)
(226, 17)

In [22]:
X_vals.head()

,rollstatus,loan_date,loan_amnt_requested,loan_issued,loan_created,lai,fpar,ndvi,evi,sr1,sr2,sr3,sr4,sr5,sr6,sr7
loan_id,,,,,,,,,,,,,,,,
870,-1.112485,-2.570332,-3.008857,-3.008861,-2.570332,-0.444543,-0.330175,0.352765,0.449387,-0.117942,0.325713,0.206725,0.299360,0.536071,0.559208,0.322138
871,0.898888,-1.588584,-0.109544,-0.109547,-1.588584,-0.444543,-0.330175,0.352765,0.449387,-0.117942,0.325713,0.206725,0.299360,0.536071,0.559208,0.322138
872,-1.112485,-2.568368,0.863379,0.863377,-2.568368,-0.481641,-0.472277,-0.198624,-0.218941,-0.284562,-0.761473,-0.495555,-0.663905,-0.496851,-0.000305,0.151436
873,-1.112485,-1.784262,1.330383,1.330380,-1.784262,-0.481641,-0.472277,-0.198624,-0.218941,-0.284562,-0.761473,-0.495555,-0.663905,-0.496851,-0.000305,0.151436
875,0.898888,0.124855,1.836303,1.836301,0.124855,-0.481641,-0.472277,-0.198624,-0.218941,-0.284562,-0.761473,-0.495555,-0.663905,-0.496851,-0.000305,0.151436

In [23]:
model = sm.Logit(target_loan_repayment, X_vals)

result = model.fit(method='bfgs', full_output=True)
result.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.658902
         Iterations: 35
         Function evaluations: 36
         Gradient evaluations: 36

/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/statsmodels/base/model.py:496: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          loanstatus_id   No. Observations:                  226
Model:                          Logit   Df Residuals:                      211
Method:                           MLE   Df Model:                           14
Date:                Sat, 30 Sep 2017   Pseudo R-squ.:                 0.04806
Time:                        19:33:56   Log-Likelihood:                -148.91
converged:                      False   LL-Null:                       -156.43
                                        LLR p-value:                    0.3757
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
rollstatus             -0.0629      0.147     -0.429      0.668      -0.350       0.224
loan_date              -0.1484   4.37e+06   -3.4e-08      1.000   -8.56e+06    8.56e+06
loan_amnt_requested    -0.1307   1033.421     -0.000      1.000   -2025.599    2025.337
loan_issued            -0.1317   1033.423     -0.000      1.000   -2025.603    2025.340
loan_created           -0.1484   4.37e+06   -3.4e-08      1.000   -8.56e+06    8.56e+06
lai                    -0.0789      2.831     -0.028      0.978      -5.628       5.470
fpar                    0.2014      2.801      0.072      0.943      -5.289       5.692
ndvi                    1.1713      1.140      1.028      0.304      -1.062       3.405
evi                     0.3149      1.183      0.266      0.790      -2.004       2.634
sr1                     0.3277      1.029      0.318      0.750      -1.690       2.345
sr2                    -1.5632      1.799     -0.869      0.385      -5.089       1.963
sr3                    -0.1858      1.071     -0.173      0.862      -2.286       1.914
sr4                     0.2957      1.167      0.253      0.800      -1.992       2.583
sr5                     0.6162      2.478      0.249      0.804      -4.241       5.473
sr6                    -0.0292      2.296     -0.013      0.990      -4.530       4.472
sr7                     0.3055      1.449      0.211      0.833      -2.534       3.145
=======================================================================================
"""

In [24]:
scores = cross_validate(LogisticRegression(), X_vals, target_loan_repayment, scoring='roc_auc',
                         cv=10, return_train_score=True)

np.mean(scores['test_score'])

0.46893939393939388

## Model Loan + planet Features

In [25]:
# drop co-linear vars
X = farmer_features.drop(['loan_interest', 'loan_principal', 'loan_repaystart'],
                         axis=1)


print(X.shape)
X = X.merge(planet, how='left', on='clean_ward')
print(X.shape)

X.fillna(-10, inplace=True)

X.drop('clean_ward', inplace=True, axis=1)

ss = StandardScaler()
X_vals = ss.fit_transform(X)

X_vals = pd.DataFrame(data=X_vals, columns=X.columns, index=target_loan_repayment.index)

(226, 6)
(226, 15)

In [26]:
model = sm.Logit(target_loan_repayment, X_vals)

result = model.fit(method='bfgs', full_output=True)
result.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.261544
         Iterations: 35
         Function evaluations: 36
         Gradient evaluations: 36

/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/statsmodels/base/model.py:496: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          loanstatus_id   No. Observations:                  226
Model:                          Logit   Df Residuals:                      213
Method:                           MLE   Df Model:                           12
Date:                Sat, 30 Sep 2017   Pseudo R-squ.:                  0.6221
Time:                        19:33:56   Log-Likelihood:                -59.109
converged:                      False   LL-Null:                       -156.43
                                        LLR p-value:                 4.155e-35
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
rollstatus             -2.5891      0.287     -9.020      0.000      -3.152      -2.026
loan_date              -0.0180   1.43e+07  -1.26e-09      1.000   -2.81e+07    2.81e+07
loan_amnt_requested     0.0829   1891.789   4.38e-05      1.000   -3707.756    3707.921
loan_issued             0.0803   1891.802   4.25e-05      1.000   -3707.784    3707.944
loan_created           -0.0180   1.43e+07  -1.26e-09      1.000   -2.81e+07    2.81e+07
npcri_mean             -0.1137     34.420     -0.003      0.997     -67.577      67.349
npcri_pct_likely        0.2311     71.880      0.003      0.997    -140.651     141.114
npcri_std               0.5283    106.486      0.005      0.996    -208.181     209.237
re_ndvi_mean           -0.9127     22.155     -0.041      0.967     -44.336      42.511
re_ndvi_pct_likely     -1.0945     17.356     -0.063      0.950     -35.111      32.922
re_ndvi_std            -0.9397     18.697     -0.050      0.960     -37.585      35.705
re_ndwi_mean            1.0451     12.573      0.083      0.934     -23.598      25.688
re_ndwi_pct_likely      0.6551     23.631      0.028      0.978     -45.660      46.970
re_ndwi_std             0.6180    113.773      0.005      0.996    -222.372     223.608
=======================================================================================
"""

In [27]:
scores = cross_validate(LogisticRegression(), X_vals, target_loan_repayment, scoring='roc_auc',
                         cv=10, return_train_score=True)

np.mean(scores['test_score'])

0.90242424242424235

## Model Loan + planet + MODIS Features

In [28]:
# drop co-linear vars
X = farmer_features.drop(['loan_interest', 'loan_principal', 'loan_repaystart'],
                         axis=1)


print(X.shape)
X = X.merge(planet, how='left', on='clean_ward')
X = X.merge(modis, on='clean_ward')
print(X.shape)

X.fillna(-10, inplace=True)

X.drop('clean_ward', inplace=True, axis=1)

ss = StandardScaler()
X_vals = ss.fit_transform(X)

X_vals = pd.DataFrame(data=X_vals, columns=X.columns, index=target_loan_repayment.index)

(226, 6)
(226, 26)

In [29]:
model = sm.Logit(target_loan_repayment, X_vals)

result = model.fit(method='newton', full_output=True)
result.summary()

Optimization terminated successfully.
         Current function value: 0.638164
         Iterations 10

/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/statsmodels/base/model.py:1029: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(np.diag(self.cov_params()))
/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/statsmodels/base/model.py:1036: RuntimeWarning: divide by zero encountered in true_divide
  return self.params / self.bse
/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/bull/anaconda3/envs/farmdrive/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          loanstatus_id   No. Observations:                  226
Model:                          Logit   Df Residuals:                      202
Method:                           MLE   Df Model:                           23
Date:                Sat, 30 Sep 2017   Pseudo R-squ.:                 0.07802
Time:                        19:33:56   Log-Likelihood:                -144.23
converged:                       True   LL-Null:                       -156.43
                                        LLR p-value:                    0.3814
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
rollstatus             -0.0247      0.159     -0.155      0.877      -0.337       0.287
loan_date              -0.1568        nan        nan        nan         nan         nan
loan_amnt_requested   346.6283   1038.266      0.334      0.738   -1688.335    2381.592
loan_issued          -346.8583   1038.291     -0.334      0.738   -2381.871    1688.154
loan_created           -0.1568        nan        nan        nan         nan         nan
npcri_mean            -26.5289     35.856     -0.740      0.459     -96.804      43.747
npcri_pct_likely       40.0069     64.355      0.622      0.534     -86.127     166.140
npcri_std              15.9260     62.587      0.254      0.799    -106.743     138.595
re_ndvi_mean            0.2767     14.484      0.019      0.985     -28.111      28.664
re_ndvi_pct_likely    -11.1908     11.638     -0.962      0.336     -34.002      11.620
re_ndvi_std            10.3777        nan        nan        nan         nan         nan
re_ndwi_mean            5.9651        nan        nan        nan         nan         nan
re_ndwi_pct_likely     -5.7773     19.334     -0.299      0.765     -43.672      32.117
re_ndwi_std           -28.7587     15.150     -1.898      0.058     -58.453       0.935
lai                    -1.7338      2.721     -0.637      0.524      -7.067       3.599
fpar                    1.8457      2.554      0.723      0.470      -3.160       6.852
ndvi                    0.9623      1.722      0.559      0.576      -2.413       4.337
evi                     1.0473      1.251      0.837      0.403      -1.405       3.500
sr1                     1.0789      1.285      0.840      0.401      -1.439       3.597
sr2                    -2.7599      1.525     -1.810      0.070      -5.749       0.229
sr3                    -0.2512      1.164     -0.216      0.829      -2.533       2.030
sr4                     0.3153      1.399      0.225      0.822      -2.427       3.057
sr5                     2.5986      2.556      1.017      0.309      -2.411       7.608
sr6                    -2.1103          0       -inf      0.000      -2.110      -2.110
sr7                     1.2749      1.744      0.731      0.465      -2.144       4.694
=======================================================================================
"""

In [30]:
scores = cross_validate(LogisticRegression(), X_vals, target_loan_repayment, scoring='roc_auc',
                         cv=10, return_train_score=True)

np.mean(scores['test_score'])

0.46863636363636357